.main-div mat-card {
    padding: 0;
    margin-top: 100px;
}

.register-form { padding: 20px; }
.register-form .register-form-item { margin-bottom: 20px; }
.mat-form-field {width: 100%;}



.register-form-buttons button{ background-color: #03a9f4; color:#ffffff; font-size: 18px;}
.register-form-buttons a{ float:left; width:95px; height:35px; border-radius: 3px; text-decoration: none; text-align: center; line-height: 35px; background-color: #03a8f4c0; color:#ffffff; font-size: 18px;}