.mat-cardWrap { margin: 20px; }
.home-car-serach-offers{}
.home-car-serach-offers_emptyCard{}
.home-car-serach-offers_btn{}
.mat-card_w1 { width: 100%; }
.mat-card_w2 { width: fit-content;  }
.mat-card_empty { width: 80%; height:20px; }