.car-details-form { display: flex; flex-wrap: wrap; }
.car-details-form-item { width: 33%; height:100px; } 
.car-details-form-item label { display: block; margin-bottom: 10px; } 
.car-details-form-item-radioBtn { width:120px; }
.blockActivity { width:100%; height:330px; position: absolute; right: 0; top: 0; z-index: 1; }