<div fxLayoutAlign="center center" class="main-div" fxFlexFill>
  <!---->
  <mat-card fxFlex="30">
    <mat-toolbar color="primary">
      <h1>התחברות למערכת</h1>
    </mat-toolbar>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <div [hidden]="!error">{{ error }}</div>
      <div class="login-form-item" >
        <mat-form-field>
          <label for="email">דואר אלקטרוני</label>
          <input matInput type="email" formControlName="email" name="email">
        </mat-form-field>
      </div>
      <div class="login-form-item">
        <mat-form-field>
          <label for="password">סיסמא</label>
          <input matInput type="password" formControlName="password" name="password">
        </mat-form-field>
      </div>
      <div class="login-form-buttons">
        <button mat-raised-button type="submit" [disabled]="!loginForm.valid">התחבר</button>
        <a routerLink="/register">להרשמה</a>
      </div>
    </form>

  </mat-card>
</div>
