@import '~@angular/material/theming';


$my-primary: mat-palette($mat-light-blue, 500);
$my-accent: mat-palette($mat-light-blue, 500);
// $my-warn: mat-palette($mat-light-blue, 500);
$my-foreground: mat-palette($mat-light-blue, 500);
// $my-background: mat-palette($mat-light-blue, 500);

$my-theme: mat-light-theme($my-primary, $my-accent,$my-foreground);

@include angular-material-theme($my-theme);

// .alternative {
    
// $my-primary: mat-palette($mat-light-blue, 500);
// $my-accent: mat-palette($mat-light-blue, 50);

// $my-theme: mat-light-theme($my-primary, $my-accent);

// @include angular-material-theme($my-theme);

// }